asgiref==3.11.1
charset-normalizer==3.4.4
Django==6.0.2
django-filter==25.2
et_xmlfile==2.0.0
openpyxl==3.1.5
packaging==26.0
pillow==12.1.1
psycopg2-binary==2.9.11
python-dotenv==1.2.1
pytz==2025.2
reportlab==4.4.10
sqlparse==0.5.5
